*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
direction:rtl;
background:#f5f7fb;
}



/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 80px;

background:white;

box-shadow:0 3px 10px rgba(0,0,0,0.05);

}

.logo{

display:flex;
align-items:center;

gap:10px;

font-size:22px;
font-weight:bold;

color:#1da1d2;

}

.logo img{

width:35px;

}

nav a{

margin:0 10px;

text-decoration:none;

color:#333;

position:relative;

}

nav a::after{

content:"";

width:0;

height:2px;

background:#1da1d2;

position:absolute;

bottom:-5px;

right:0;

transition:0.3s;

}

nav a:hover::after{

width:100%;

}



.login-btn{

background:#1da1d2;

color:white;

padding:10px 25px;

border-radius:25px;

text-decoration:none;

transition:.3s;

}

.login-btn:hover{

background:#0e87b6;

}



/* HERO */

.hero{

display:flex;

align-items:center;

justify-content:space-between;

padding:80px;

}

.hero-img img{

width:420px;

border-radius:20px;

}

.stat{

background:white;

padding:10px;

border-radius:10px;

margin-top:-40px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

text-align:center;

}

.hero-text{

width:50%;

}

.hero-text h1{

font-size:40px;

color:#1d3557;

margin-bottom:20px;

}

.hero-text p{

color:#666;

margin-bottom:20px;

line-height:1.6;

}



/* BUTTONS */

.primary,
.outline,
.book-btn,
.emergency{

cursor:pointer;

transition:.3s;

}

.primary{

background:#1da1d2;

color:white;

padding:12px 25px;

border-radius:8px;

text-decoration:none;

}

.primary:hover{

transform:translateY(-3px);

box-shadow:0 10px 20px rgba(0,0,0,0.15);

}

.outline{

border:2px solid #1da1d2;

padding:10px 20px;

border-radius:8px;

color:#1da1d2;

text-decoration:none;

}

.outline:hover{

background:#1da1d2;

color:white;

}

.emergency{

display:inline-block;

margin-top:20px;

background:#ef4444;

color:white;

padding:14px 30px;

border-radius:8px;

text-decoration:none;

}

.emergency:hover{

background:#d92c2c;

transform:scale(1.03);

}



/* SERVICES */

.services{

background:#eaf3f8;

text-align:center;

padding:80px;

}

.service-cards{

display:flex;

gap:20px;

justify-content:center;

margin-top:40px;

}

.card{

background:white;

padding:30px;

border-radius:15px;

width:220px;

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 10px 25px rgba(0,0,0,0.1);

}



/* STEPS */

.steps{

padding:80px;

text-align:center;

}

.steps-container{

display:flex;

justify-content:center;

gap:50px;

margin-top:40px;

}

.circle{

width:50px;

height:50px;

background:#1da1d2;

color:white;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

margin:auto;

margin-bottom:10px;

}



/* HOSPITALS */

.hospitals{

padding:80px;

text-align:center;

}

.hospital-cards{

display:flex;

justify-content:center;

gap:30px;

margin-top:40px;

}

.hospital{

background:white;

border-radius:15px;

overflow:hidden;

width:280px;

transition:.3s;

}

.hospital:hover{

transform:translateY(-10px);

box-shadow:0 15px 25px rgba(0,0,0,0.15);

}

.hospital img{

width:100%;

height:170px;

object-fit:cover;

}

.book-btn{

display:block;

background:#1da1d2;

color:white;

padding:10px;

margin:15px;

border-radius:8px;

text-decoration:none;

}



/* FOOTER */

footer{

background:#f1f5f9;

text-align:center;

padding:40px;

}

.footer-logo img{

width:30px;

}

.footer-links{

margin:20px 0;

}

.footer-links a{

margin:0 10px;

color:#444;

text-decoration:none;

}

.copy{

color:#666;

}

/*----------------------------------------------------------*/
/* صفحة المستشفيات */

.hospital-page{

padding:80px;

text-align:center;

}

.hospital-page h1{

font-size:35px;

color:#1d3557;

margin-bottom:10px;

}

.search-box{

margin-top:30px;

}

.search-box input{

padding:12px;

width:250px;

border-radius:8px;

border:1px solid #ccc;

}

.search-box button{

padding:12px 20px;

background:#1da1d2;

color:white;

border:none;

border-radius:8px;

margin-right:10px;

cursor:pointer;

}



.hospital-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:50px;

}



.hospital-card{

background:white;

border-radius:15px;

overflow:hidden;

box-shadow:0 5px 15px rgba(0,0,0,0.08);

transition:.3s;

}



.hospital-card:hover{

transform:translateY(-8px);

}



.hospital-card img{

width:100%;

height:180px;

object-fit:cover;

}



.hospital-card h3{

margin:15px;

}



.hospital-card p{

color:#777;

margin-bottom:10px;

}

/*----------------------------------------------------------*/
/* صفحة الأطباء */

.doctors-page{

padding:80px;

text-align:center;

}

.doctors-page h1{

font-size:35px;

margin-bottom:10px;

color:#1d3557;

}

.doctors-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:40px;

}

.doctor-card{

background:white;

border-radius:15px;

padding:20px;

box-shadow:0 5px 15px rgba(0,0,0,0.08);

transition:.3s;

}

.doctor-card:hover{

transform:translateY(-8px);

}

.doctor-card img{

width:100px;

height:100px;

border-radius:50%;

object-fit:cover;

margin-bottom:10px;

}

.doctor-card h3{

margin:10px 0;

}

.doctor-card p{

color:#666;

margin-bottom:5px;

}
/*----------------------------------------------------------*/
/* صفحة الحجز */

.booking-page{

padding:80px;

text-align:center;

}

.booking-box{

background:white;

width:350px;

margin:40px auto;

padding:30px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}

.booking-box label{

display:block;

margin-top:15px;

margin-bottom:5px;

text-align:right;

}

.booking-box input,
.booking-box select{

width:100%;

padding:10px;

border-radius:8px;

border:1px solid #ccc;

}

.confirm-btn{

display:block;

margin-top:20px;

background:#1da1d2;

color:white;

padding:12px;

border-radius:8px;

text-decoration:none;

transition:.3s;

}

.confirm-btn:hover{

background:#0e87b6;

}
/*----------------------------------------------------------*/
/* صفحة نجاح الحجز */

.success-page{

padding:120px;

text-align:center;

}

.success-box{

background:white;

width:400px;

margin:auto;

padding:40px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}

.success-box h1{

color:#22c55e;

margin-bottom:15px;

}

.success-box p{

color:#666;

margin-bottom:25px;

}
/*----------------------------------------------------------*/
/* صفحة تسجيل الدخول */

.login-page{

padding:100px;

display:flex;

justify-content:center;

}

.login-box{

background:white;

width:350px;

padding:35px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}

.login-box h2{

text-align:center;

margin-bottom:20px;

color:#1d3557;

}

.login-box label{

display:block;

margin-top:10px;

margin-bottom:5px;

}

.login-box input{

width:100%;

padding:10px;

border-radius:8px;

border:1px solid #ccc;

}

.login-box button{

width:100%;

margin-top:20px;

border:none;

}

.register-text{

text-align:center;

margin-top:15px;

color:#666;

}

.register-text a{

color:#1da1d2;

text-decoration:none;

}



/* صفحة المرافقين */

.companions-page{

padding:80px;

text-align:center;

}

.companions-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:40px;

}

.companion-card{

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,0.08);

transition:.3s;

}

.companion-card:hover{

transform:translateY(-8px);

}

.companion-card img{

width:120px;

height:120px;

border-radius:50%;

object-fit:cover;

margin-bottom:10px;

}


/* صفحة المواعيد */

.appointments-page{

padding:80px;

text-align:center;

}

.appointments-container{

margin-top:40px;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}

.appointment-card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

transition:.3s;

}

.appointment-card:hover{

transform:translateY(-8px);

}

.cancel-btn{

display:inline-block;

margin-top:15px;

background:#e63946;

color:white;

padding:8px 15px;

border-radius:8px;

text-decoration:none;

transition:.3s;

}

.cancel-btn:hover{

background:#c1121f;

}
/* صفحة الحساب */

.profile-page{

padding:80px;

text-align:center;

}

.profile-box{

background:white;

width:400px;

margin:auto;

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}

.profile-img{

margin-bottom:20px;

}

.profile-img img{

width:120px;

height:120px;

border-radius:50%;

object-fit:cover;

}

.profile-box label{

display:block;

margin-top:10px;

text-align:right;

}

.profile-box input{

width:100%;

padding:10px;

margin-top:5px;

border-radius:8px;

border:1px solid #ccc;

}

.profile-box button{

margin-top:20px;

width:100%;

border:none;

}

/* صفحة التنبيهات */

.notifications-page{

padding:80px;

text-align:center;

}

.notifications-container{

margin-top:40px;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}

.notification-card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

text-align:right;

transition:.3s;

}

.notification-card:hover{

transform:translateY(-8px);

}

.notification-card span{

display:block;

margin-top:10px;

color:#888;

font-size:14px;

}


